# Taft Plot Investigations

This workbook contains the code and imports the data to explore how Taft used acid and base-catalyzed ester hydrolysis to develope the taft steric and electronic parameters.

## Acid and base Hydrolysis

We will compare the reaction constants, $\rho$, for the acidic and alkaline hydrolysis of esters. We will use m- and p-substituteted benzoates so that we can use the Hammett $\sigma$ parameters. The data is presented in tables 1 and 2 of the handout and is collected in csv data files named accordingly.

## Setup Tools and Read Substituent Data Table

Here the data table for Steric substitutent constants is read in and processed. Also the libraries are imported and any functions defined

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

github_data_location = "https://github.com/blinkletter/LFER-QSAR/blob/main/data/"
github_styles_location = "https://github.com/blinkletter/LFER-QSAR/blob/main/styles/"
github_download = "?raw=True"


################################################################################
### Read data set. The fields are separated by commas; comments are enabled  ###
################################################################################

LFER_file = "Taft_Es_Williams.csv"   ### NEEDS TO BE HAMMETT FOR THIS SHEET

data_set = pd.read_csv(github_data_location + LFER_file + github_download,
                 delimiter = ",", 
                 skipinitialspace=True, 
                 index_col="Substituent", 
                 comment = "#") 

########################################################
### Sort by Steric Size and display ###
########################################################

#data_set.sort_values(by=["E'(s)"], inplace=True)
display(data_set)

                                  Group Formula  E(s)  sigma*  E'(s)  v(x)
Substituent
CH3                                  Me     CH3  0.00    0.00   0.00  0.52
CH2CH(CH3)2                        i-Bu    C4H9 -0.93   -0.21  -0.93  0.98
C(CH3)3                            t-Bu    C4H9 -1.54   -0.30  -1.43  1.24
CCl3                               CCl3    CCl3 -2.06    2.43  -1.75  1.38
CBr3                               CBr3    CBr3 -2.43    2.65  -2.14  1.56
...                                 ...     ...   ...     ...    ...   ...
CH(C(CH3)3)2                     tBu2CH   C9H19   NaN     NaN  -6.97   NaN
C(CH3)(CH(CH3)2)C(CH3)3       tBuiPrMeC   C9H19   NaN     NaN  -7.56   NaN
C(C2H5)2C(CH3)3                 tBuEt2C   C9H19   NaN     NaN  -7.21   NaN
C(C2H5)(CH(CH3)2)(C(CH3)3)    tBuiPrEtC  C10H21   NaN     NaN  -6.62   NaN
1-Adamantyl                 1-Adamantyl  C10H15   NaN     NaN    NaN  1.33

[121 rows x 6 columns]

## Read Experimental Data for Acid Hydrolysis
Here the data from the publication is read in. It had been saved in a csv file. the data is from...

"The activation energy of organic reactions. Part III. The kinetics of acid hydrolysis of esters." E.W. Timm, & C.N. Hinshelwood, J. Chem. Soc., 1938, 862-869. https://doi.org/10.1039/jr9380000862

In [6]:
############################################
### Read in data from literature example ###
############################################

df = pd.read_csv("17-Table_1.csv", 
                 delimiter = ",", 
                 skipinitialspace=True, 
                 index_col="Substituent", 
                 comment = "#") 
display(df)

###
### Note: The values of the rate constants are in units of 10^(-6) s^-1
###

                                Name  log_k       k        ref
Substituent
p-OCH3                 Ethyl anisate   1.79   6.170  Timm
p-OH         Ethyl p-hydroxybenzoate   1.65   4.470    Timm
p-CH3                Ethyl p-toluate   1.89   7.760   Timm
H                     Ethyl benzoate   1.96   9.120       Timm
p-Cl          Ethyl p-chlorobenzoate   1.90   7.940     Timm
p-Br           Ethyl p-bromobenzoate   1.92   8.310    Timm
p-NO2          Ethyl p-nitrobenzoate   2.03  10.700   Timm
m-NO2          Ethyl m-nitrobenzoate   1.95   8.910   Timm
o-NO2          Ethyl o-nitrobenzoate   0.71   0.513   Timm

## Read Experimental Data for Alkaline Hydrolysis
Here the data from the publication is read in. It had been saved in a csv file. the data is from...

"Mechanism of, and constitutional factors controlling, the hydrolysis of carboxylic esters. Part VIII. Energies associated with induced polar effects in the hydrolysis of substituted benzoic esters." K.C. Ingold, W.S. Nathan, J. Chem. Soc., 1936. 222-225. https://doi.org/10. 1039/jr9360000222
"Studies of the ortho-effect. Part III. Alkaline hydrolysis of benzoic esters." D.P. Evans, J.J. Gordon, H.B. Watson, J. Chem. Soc., 1937, 1430-1432. https: //doi.org/10.1039/jr9370001430