# Group Increments
Let us try some calculations in group increments using python as our calculator. First we must load in a data set. I will take the file from the moodle site and place it in the same directory as this notebook. This data was taken from table 2.4 (pg 81) of the textbook.

The following code will import the data.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

pd.set_option('display.max_rows', 500)   # let the displayn command print many rows

data_file = "Group_Increments.csv"    # This is the data file in the GitHub repository

############################
### Set global variables ###
############################

data_path = "https://raw.githubusercontent.com/blinkletter/4410PythonNotebooks/main/Class_10/data/"
image_path = "https://raw.githubusercontent.com/blinkletter/4410PythonNotebooks/main/Class_10/images/"

github_data_location = "https://raw.githubusercontent.com/blinkletter/LFER-QSAR/main/data/"
github_styles_location = "https://raw.githubusercontent.com/blinkletter/LFER-QSAR/main/styles/"



data_file = github_data_location + data_file

df1 = pd.read_csv(data_file,    # create pandas dataframe from data file
                  delimiter = ",",           # data is separated by commas
                  index_col="group",         # use the column with "group" as a header for the index
                  comment = "#",             # ignore lines in the file that are comments
                  skipinitialspace = True    # ignore extra spaces
                 ) 

#display(df1.head())     # display first five rows at head of Pandas dataframe
display(df1)

             dHf
group
C-H3C     -10.20
C-H2C2     -4.93
C-HC3      -1.90
C-C4        0.50
Cd-H2       6.26
...          ...
N-(CO)C2   14.40
N-(CO)CbH   0.40
N-(CO)2H  -18.50
N-(CO)2C   -5.90
N-(CO)2Cb  -0.50

[85 rows x 1 columns]

## Manipulating the Data
the data tablein in units of kcal/mole. We usually use kJ/mole so let us convert the numbers to that unit and add a new column.

In [3]:
n = 5
pd.set_option('display.max_rows', n) #replace n with the number of rows you want to see completely

df1["dHfkJ"] = df1["dHf"]*4.18        # add a series in units of Kj/mole
display(df1)

             dHf    dHfkJ
group
C-H3C     -10.20 -42.6360
C-H2C2     -4.93 -20.6074
...          ...      ...
N-(CO)2C   -5.90 -24.6620
N-(CO)2Cb  -0.50  -2.0900

[85 rows x 2 columns]

## Using the Data
We will extract a single data series out of the dataframe. It will still be indexed by "group". let us grab just the series that is in kJ/mole and then we can access individual values using the index.

In [4]:
i=df1["dHfkJ"]             # extract a series of group increments in kJ/mole as "i"
display(i.head())

group
C-H3C    -42.6360
C-H2C2   -20.6074
C-HC3     -7.9420
C-C4       2.0900
Cd-H2     26.1668
Name: dHfkJ, dtype: float64

In [9]:
CH2C2 = df1["dHfkJ"]["C-H2C2"] 
CH2CCd = df1["dHfkJ"]["C-CdCH2"] 
CdHC = df1["dHfkJ"]["Cd-HC"] 
CdH2 = df1["dHfkJ"]["Cd-H2"]

alkene = 2*CdH2
cyclohexene = 2*(CH2C2 + CH2CCd + CdHC)
diene = 2*(CH2C2 + CH2CCd + CdHC + CdH2)

(cyclohexene + alkene) - diene

0.0